.DS_Store
venv
llm/RAG/build
llm/RAG/dist
llm/RAG/model
llm/Fine_Tune/fine_tune_data
llm/Fine_Tune/google_gemma_3/output
segmentation/MedSAM2
segmentation/segmentation_result
segmentation/result
segmentation/video_result
volume_output_unet3d
cache
datasets
detection/__pycache__
detection/result
detection/video_result
models
*.pt
*.html
temp
**/*pycache*/
**/*results/
**/checkpoints/
**/*logs/