.DS_Store
venv
LLM/RAG/build
LLM/RAG/dist
LLM/RAG/model
medsam2_segmentation/MedSAM2
medsam2_segmentation/segmentation_result
datasets
detection/__pycache__
detection/Faster_RCNN_Detection*
detection/Simple_Training*
detection/test_logs*
detection/test_results*
detection/yolo_detection/yolov11_*
*.pt
temp
**/*pycache*/
**/results/
**/checkpoints/
**/logs/